<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.abercu.velo.birds.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.abercu.velo.birds.Perspective"
            name="Perspective"
            id="com.abercu.velo.birds.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.abercu.velo.birds.views.HomeView"
            id="com.abercu.velo.birds.views.HomeView"
            name="Home"
            restorable="true">
      </view>
      <view
            class="com.abercu.velo.birds.views.View"
            name="View"
            id="com.abercu.velo.birds.views.view"
            inject="true">
      </view>
      <view
            class="com.abercu.velo.birds.views.BirdsView"
            id="com.abercu.velo.birds.views.BirdsView"
            name="Birds"
            restorable="true">
      </view>
      <view
            class="com.abercu.velo.birds.views.SightingsView"
            id="com.abercu.velo.birds.views.SightingsView"
            name="Sightings"
            restorable="true">
      </view>
      <view
            class="com.abercu.velo.birds.views.BirdFormView"
            id="com.abercu.velo.birds.views.BirdFormView"
            name="BirdForm"
            restorable="true">
      </view>
      <view
            class="com.abercu.velo.birds.views.SightingFormView"
            id="com.abercu.velo.birds.views.SightingFormView"
            name="SightingForm"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.abercu.velo.birds.perspective">
         <view
               id="com.abercu.velo.birds.views.HomeView"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.abercu.velo.birds.application"
            name="Birds app">
         <property
               name="appName"
               value="Birds app">
         </property>
      </product>
   </extension>

</plugin>
